@import "tailwindcss";

@theme {
  --font-sans: "Mona Sans", sans-serif; /* Override default font */
}

html,
body {
  width: 100%;
  background-color: #f7f5f0;
  color: #e32929;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
