@import "tailwindcss";

@font-face {
  font-family: "Bold Serif";
  src: url("/fonts/Bartender Bold Serif Letterpress.ttf") format("truetype");
}

@font-face {
  font-family: "Sauce Tomato";
  src: url("/fonts/Sauce Tomato.otf") format("opentype");
}

@theme {
  --font-sans: "Mona Sans", sans-serif; /* Override default font */
  --font-bold-serif: "Bold Serif", sans-serif;
  --font-sauce-tomato: "Sauce Tomato", sans-serif;
  --tw-color-yell: #e7d393;
}

html,
body {
  width: 100%;
  background-color: #f7f5f0;
  color: #db4242;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-model-1 {
  @apply absolute top-1/2 left-1/3 -translate-x-1/2 -translate-y-1/2;
}

@utility abs-model-2 {
  @apply absolute top-1/2 left-3/4 -translate-x-1/2 -translate-y-1/2;
}

@utility second-half-container {
  @apply absolute top-1/2 -translate-y-1/2;
}
